<nav mat-tab-nav-bar class=mat-tab-nav-bar>
  <mat-menu #menu="matMenu">
    <div style="overflow: hidden">
      <button mat-menu-item routerLink="sorteos/nuevoSorteo">{{constantesService.labels.nSorteo}}</button>
      <button mat-menu-item routerLink="sorteos/sorteos">{{constantesService.labels.cSorteo}}</button>
      <button mat-menu-item routerLink="configuracion">{{constantesService.labels.config}}</button>
    </div>
  </mat-menu>
  <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-raised-button routerLink="">Inicio</button>
</nav>
